a {
    text-decoration: none;
  }
  .navbar a {
    color: white;
    cursor: pointer;
  }
 
  .home {
    width: 100%;
    height: 100vh;
    background-image: url(DSCF0718.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .home h1 {
    font-size: 4rem;
  }
  .portfolio .item {
    width: 100%;
    height: 50%;
  }
  .portfolio .item img {
    transition: ease-in-out 0.6s;
  }
  .portfolio .item:hover img {
    transform: scale(1.3);
  } 
  .contact {
    position: relative;
    color: black;
  }
  .contact form input, textarea {
    border-color: rgba(0, 0, 0, 0.2);
    border-width: 1px;
  }
  .contact button {
    border:3px solid transparent;
    transition: 0.5s;
  }
  .contact button:hover {
    border: 3px solid #0000003a;
    background-color: #0000003a;
  }
  
  .footer {
    background-color: #000000b7;
  }